<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Domine|Libre+Franklin&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mynav">
        <a [routerLink]="['/']" class="navbar-brand" style="color:#ff6122; font-family: 'Domine', serif;" ><h6>Word Worms</h6></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        

          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a style="color: inherit;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Genre
                </a>
                <div style="font-size: 0.9em;" class="dropdown-menu large" aria-labelledby="browse-dropdown">
                    <div style="padding-left: 8%;" class="container">
                        <div style="padding-bottom: 2%;" class="row">
                            <div style="font-size: 1.1em;" >Browse</div  >
                        </div>
                        <div class="row" style="padding-left: 5%;">
                            <div class="col-6 columns"><a [routerLink]="['books/fiction']">Fiction</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/novel']">Novel</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/sciencefiction']">Science Fiction</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/mystery']">Mystery</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/thriller']">Thriller</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/romantic']">Romantic</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/biography']">Biography</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/avdenture']">Adventure</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/comic']">Comic</a></div>
                        </div>
                    </div>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a style="color: inherit;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  English
                </a>
                <div style="font-size: 0.9em;" class="dropdown-menu large" aria-labelledby="browse-dropdown">
                    <div style="padding-left: 8%;" class="container">
                        <div class="row" style="padding-left: 5%;">
                            <div class="col-6 columns"><a [routerLink]="['books/English']">English</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/Hindi']">Hindi</a></div>
                            <div class="col-6 columns"><a [routerLink]="['books/Telugu']">Telugu</a></div>

                        </div>
                    </div>
                </div>
              </li>
              <li class="nav-item" style="margin-top:5%;">
                <a [routerLink]="['/write-book']" class="navbar-item"  ><h6>Write</h6></a>
              </li>

          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 mysearch" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mybutton" type="submit">Search</button>
          </form> -->
          
        </div>
      </nav>
    
</body>
</html>